<?xml version="1.0" encoding="utf-8" ?>
<!-- NLog logging configuration. -->
<nlog throwExceptions="true"
      autoReload="true"
      internalLogFile="C:\ProgramData\SocketLabs\${appdomain:format={1\}}\Logs\nlog-internal.txt"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
	</extensions>

	<targets async="true">

		<target name="main"
			xsi:type="File"
			maxArchiveFiles="14"
			archiveEvery="Day"
			enableArchiveFileCompression="true"
			fileName="Logs\${appdomain:format={1\}}\Logs\${shortdate}-main.log"
			layout="${longdate} | ${uppercase:${level}} | ${threadid} | ${message} ${exception:format=ToString}" />

	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="main" />
	</rules>
</nlog>